.item {
  height: 300px;
  width: 300px;
  border: 1px solid darkslateblue;
  margin-top: 40px;
  margin-bottom: 40px;
}
.items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.itemContents {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}
.itemText {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  color: white;
  text-shadow: 0 0 10px rgb(124, 110, 202), 0 0 20px rgb(39, 39, 135),
    0 0 30px rgb(39, 39, 135);
  font-size: 40px;
}
.itemText:hover {
  transform: scale(1.1);
  transition: all 0.2s;
}
.itemLink {
  text-decoration: none;
}
