.form-container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}
.form-control {
  border: 1px solid darkslateblue;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-control:focus {
  border: 1px solid blue;
  box-shadow: 0 0 10px rgb(124, 110, 202), 0 0 20px rgb(124, 110, 202);
}
.updateButton {
  color: darkslateblue;
  font-size: 20px;
  border: 1px solid darkslateblue;
  margin-top: 20px;
  margin-bottom: 20px;
}
.updateButton:focus {
  box-shadow: 0 0 10px rgb(124, 110, 202), 0 0 20px rgb(124, 110, 202);
}
