.profileInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid darkslateblue;
  height: 350px;
  width: 300px;
}
.profileImage {
  border-radius: 50%;
}
.profileButton {
  width: 65%;
  margin-top: 10px;
}
